@mixin flex {
    display: flex;
    justify-content: space-between;
}

@mixin center {
    display: flex;
    justify-content: center;
}

@mixin colunm {
    display: flex;
    flex-direction: column;
}